
@{
    Layout = null;
    

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h1> Welcome to view</h1>
        <h2> AboutUs view was created</h2>
        @Html.Partial("_MenuWidget")

    </div>
</body>
</html>
